* {
    box-sizing: border-box;
  }
  
  html {
    font-family: sans-serif;
  }
  
  body {
    margin: 0;
    background: #fff;
    background: linear-gradient(180deg, #ccc 0%, #fff 50%, #ccc 100%);

  }
  
  article {
    width: 210mm;
    height: 297mm;
    margin: 20px auto;
    position: relative;
    border-top: solid 1mm #000;
    border-bottom: solid 1mm #000;
    background-image: url(top-image.png);
    background-image: url(top-image.png), url(bottom-image.png) ;
    background-repeat: no-repeat, no-repeat;
    background-position: top, bottom;
  }
  
  address {
    position: absolute;
    bottom: 8mm;
    right: 20mm;
  }
  
  h1 {
    position: absolute;
    top: 12mm;
    left: 20mm;
    width: 128px;
    height: 128px;
    font-size: 20px;
    letter-spacing: 1px;
    text-align: center;
    padding: 44px 0;
    color: white;
    text-shadow: 1px 1px 1px black;
    background-image: url(logo.png);
    filter: drop-shadow(5px 5px 6px black);
  }
  
  /* Your CSS below here */

 